<% if !workout.images.empty? %>
    <div class="row">
      <h4><%= workout.title %></h4>
    </div>
    <div class="row">
        <% workout.stages[0..5].each_with_index do |stage, index| %>
            <div class="col-md-2">
              <%= link_to "#{workout_path(workout)}/play/#{String(index+1)}", :class => "pjax" do %>
                  <div class="img-thumbnail">
                    <% if stage.image_link %>
                        <img src="<%= stage.image_link %>" alt="<%= stage.title.gsub(/[^\W-]/, '_').downcase %>">
                    <% end %>
                  </div>
                  <p><%= "#{(index+1).to_s}: #{stage.title}" %></p>
              <% end %>
            </div>
        <% end %>
    </div>
<% else %>
    <div>
      <%= link_to workout.title, workout_path(workout), 'data-pjax' => '#center-html', :class => 'pjax' %>
      <%= duration_formatted workout %>
    </div>
<% end %>