<div id="workout_card_<%= workout.id %>" class="perform_card_border col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <a href="<%= workout_path(workout.id) %>" class="card_link">
    <div class="workout_card_inner workout_card workout_preview">
      <% if workout.stages.first %>
          <img src="<%= workout.stages.first.image_link %>" class="img-responsive img-rounded img-workout-teaser"/>
      <% end %>
      <div class="row card_title">
        <div class="col-md-9">
          <h5><%= workout.title %></h5>
        </div>
        <div class="col-md-2">
          <p class="text-right">
          <h5><%= duration_formatted(workout) %></h5>
          </p>
        </div>
      </div>
      <%= graph_div(workout, {:id => "workout_{workout.id}_graph", :class => "card_description", :height => '50', :width => '100%'}) %>
    </div>
  </a>
  <a href="#" class="card_delete_link" style="display: none;"><i class="icon-remove-circle"></i></a>
</div>