<div>
  <%= link_to "Perform Workout", "#", :id => 'perform-workout' %>
  <% if :show_json %>
      <%= content_tag :div, "", id: "workout-data", data: {"workout" => workout.to_json} %>
  <% end %>
  <div id="workout-stages">
    <% if workout.stages.empty? %>
        <h3>This workout is empty</h3>
    <% else %>
        <% workout.stages.each_with_index do |stage, index| %>
            <div class="row workout-stage-block row-padded" data-stage="<%= stage.id %>" data-index="<%= index + 1 %>">
              <div class="col-md-2">
                <div class="img-thumbnail">
                  <img src="<%= stage.image_link %>" class="workout-stage-image"/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="workout-stage-title"><%= stage.title %></div>
                <div class="workout-stage-description"><%= stage.title %></div>
              </div>
              <div class="col-md-2 workout-stage-actions">
                <%= link_to "Add to workout", "/workouts/add_stage/#{stage.id}", :id => "stage-#{stage.id}-#{rand(1000)}", :class => 'add-workout-stage', :data => {'stage' => {id: stage.id, title: stage.title}.to_json} %>
              </div>
            </div>
        <% end %>

    <% end %>
  </div>
</div>