<% @workouts.each_with_index do |w, i| %>
    <% if i > 0 %>
        <% if i > 1 and i % 2 == 0 %>
            <div class="clearfix visible-sm"></div>
        <% end %>
        <% if i > 2 and i % 3 == 0 %>
            <div class="clearfix visible-md"></div>
        <% end %>
    <% end %>
    <%= render :partial => "/workouts/workout_card", :locals => {:workout => w} %>
<% end %>
