<div class="workout" xmlns="http://www.w3.org/1999/html">
  <div style="width: 100%; text-align: center; padding: 12px; font-size: 1.2em; font-weight: bold; margin-bottom: 5px;">
    Edit your Workout
  </div>
  <%= form_for @workout, :url => {:action => 'update'}, :data => {'pjaxp' => {container: '#center-html'}.to_json }, :html => {} do |f| %>
      <div style="text-align: center;">
        <div class="field">
          <%= label_tag :title, "Title"%>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= label_tag :description, "Description" %>
          <!--<%= label_tag :description, "(optional)" %>-->
          <%= f.text_area :description, :rows => "3" %>
        </div>
        <br/>
        <%= f.submit "Save", :style => "font-size: 1.5em; margin-bottom: 11px;" %>
      </div>
  <% end %>
</div>