<% index = 1 %>
<% @workouts.each do |workout| %>
    <div id="gallery-<%= index %>" class="ad-gallery" data-title="workout <%= index %>">
      <div class="ad-controls">
			<div class="ad-info"><%= workout.title %></div><div class="workout-time"><%= workout.time.to_s %></div>
      </div>
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <% @stages.each do |stage| %>
              <% if stage.workout_id = workout.id %>
                <li>
                  <a href="javascript:void(0);" data-workout="<%= workout.id %>" data-stage="<%= stage.id %>">
  			  	  <img alt="<%= stage.title %>" src="<%= stage.image_link %>">
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% index = index + 1 %>
<% end %>
