<%= content_tag :div, "", id: "workoutList", data: {"workouts" => @workouts.to_json} do %>
    <%= render :partial => "/workouts/workout_card_deck", :locals => {:workouts => @workouts} %>
    <br>
    <div class="clearfix"></div>
<% end %>


