<div>
  <div class="modal-header">
    <h4>Create your own Workout</h4>
  </div>

  <div class="modal-body">
    <% if flash[:notice] %>
        <p class="text-center text-error"><%= flash[:notice] %></p>
    <% end %>
    <%= form_for @workout, :url => {:action => 'create'}, :html => { :class => 'pjax form-horizontal', 'data-pjaxp' => {container: '#modal', push: true}.to_json}  do  |f| %>
        <div class="control-group">
          <%= label_tag :title, "Title", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :title, :class => 'input-medium' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :description, "Description", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :rows => "3"  %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success" type="submit">Create</button>
            <button class="btn" data-target="#modal" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    <% end %>
    <div style="padding: 10px;">
      After this, you'll be able to add more videos to this workout...
    </div>
</div>