<div>
  <% if current_user %>
      <div class="modal-header">
        You Are already logged in.
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="sessions_destroy">Sign out</button>
      </div>

  <% else %>
      <div class="modal-header">
        <h4>Sign in,
          or <%= link_to "Create an account", new_identity_path, :class => 'pjax', :data => {'pjaxp' => {container: '#modal', push: false}.to_json} %></h4>
      </div>

      <div class="modal-body">
        <% if flash[:notice] %>
            <p class="text-center text-error"><%= flash[:notice] %></p>
        <% end %>

        <%= form_tag "/auth/identity/callback", :id => 'identity-form', :class => 'pjax form-horizontal', :data => {'pjaxp' => {container: '#modal', push: false, url: '/auth/identity/callback'}.to_json} do %>
            <% if @identity_error %>
                <p class="text-center text-error"><%= @identity_error %></p>
            <% end %>

            <div class="control-group">
              <%= label_tag :auth_key, "Email", :class => 'control-label' %>
              <div class="controls">
                <%= text_field_tag :auth_key, nil, :class => 'input-medium' %>
              </div>
            </div>
            <div class="control-group">
              <%= label_tag :password, "Password", :class => 'control-label' %>
              <div class="controls">
                <%= password_field_tag :password, nil, :class => 'input-medium' %>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-success" type="submit">Sign in</button>
                <button class="btn" data-target="#modal" data-dismiss="modal">Close</button>
              </div>
            </div>
        <% end %>
      </div>

  <% end %>
</div>
