<div>
  <% if current_user %>
      <div class="modal-header">
        You Are already logged in.
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="sessions_destroy">Sign out</button>
      </div>

  <% else %>
      <div class="modal-header">
        <h4>Sign in through one of these services</h4>
      </div>

      <div class="modal-body">

        <% if flash[:notice] %>
            <p class="text-center text-error"><%= flash[:notice] %></p>
        <% end %>
        <ul class="thumbnails">
          <li>
            <a href="/auth/twitter">
              <div class="thumbnail">
                <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
              </div>
              <p class="text-center">Twitter</p>
            </a>
          </li>
          <li>
            <a href="/auth/facebook">
              <div class="thumbnail">
                <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
              </div>
              <p class="text-center">Facebook</p>
            </a>
          </li>
          <li>
            <a href="/auth/google_apps">
              <div class="thumbnail">
                <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
              </div>
              <p class="text-center">Google</p>
            </a>
          </li>
        </ul>

        <p class="text-center"><strong>Don't use these services?</strong></p>

        <p class="text-center">
          <strong>
            <h4>
              <%= link_to "Create an account", new_identity_path, :class => 'pjax', :data => {'pjaxp' => {container: '#modal', push: false}.to_json} %>
              or Sign in below.
            </h4>
          </strong>
        </p>
      </div>

      <%= form_tag "/auth/identity/callback", :id => 'identity-form', :class => 'pjax form-horizontal', :data => {'pjaxp' => {container: '#modal', push: false, url: '/auth/identity/callback'}.to_json} do %>
          <% if @identity_error %>
              <p class="text-center text-error"><%= @identity_error %></p>
          <% end %>

          <div class="control-group">
            <%= label_tag :auth_key, "Email", :class => 'control-label' %>
            <div class="controls">
              <%= text_field_tag :auth_key %>
            </div>
          </div>
          <div class="control-group">
            <%= label_tag :password, "Password", :class => 'control-label' %>
            <div class="controls">
              <%= password_field_tag :password %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button class="btn btn-success" type="submit">Sign in</button>
              <button class="btn" data-target="#modal" data-dismiss="modal">Close</button>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
