<!--

<script type='text/javascript'>
	function video_search_item(data) {
		if (!data.accessControl || (data.accessControl.embed != "allowed"))
			return null;

		this.id = ko.observable(data.id);
		this.title = ko.observable(data.title);
		this.description = ko.observable(data.description);
		this.uploaded = ko.observable(data.uploaded);
		this.thumbnail = ko.observable(data.thumbnail.sqDefault);
	
		return this;
	};

	function workout_item(data) {
		this.id = ko.observable(data.id);
		this.title = ko.observable(data.title);
		this.description = ko.observable(data.description);
		this.uploaded = ko.observable(data.uploaded);
		this.thumbnail = ko.observable(data.thumbnail.sqDefault);
	
		return this;
	};

	var viewModel = {
		vsr_results: ko.observableArray([]),
		workout_results: ko.observableArray([]),
		notify: function() {
			alert("in notify");
		}

	};
/*
	<li><a href=''>{$name}</a>
		<img alt='' src='' data-video=''></img>
	</li>
*/
</script>
-->

<!--<li><img src="${thumbnail}"></img>(${id} : ${uploaded}) ${title} : ${description} </li>-->
<script id='workoutTemplate' type='text/x-jquery-tmpl'>
{{each workout_results()}}
	<div class="result-item">
		<div class="thumb-container">
			<a class="result-item-thumb">
				<img alt="${title}" src="${thumbnail}">
			</a>
		</div>
	</div>
{{/each}}
</script>


<script id='vsrTemplate' type='text/x-jquery-tmpl'>
{{each vsr_results()}}
	<div class="result-item">
		<div class="thumb-container">
			<a class="ux-thumb-wrap result-item-thumb">
				<span class="video-thumb ux-thumb-128">
					<span class="clip">
						<img alt="${title}" src="${thumbnail}">
					</span>
				</span
			</a>
		</div>
		<div class="result-item-main-content">
			<h3>Title</h3>
			<p id="video-description-alksjdflakj" class="description" dir="ltr">
				"Music video by "
				<b>Limp Bizkit</b>
				" performing Break Stuff. (C) 2000 Interscope Records"
			</p>
			<p class="facets">
				<span class="username-prepend">by</span>
				<a href="/user/asdlkjadsf">LimpBizkitVEVO</a>
				<span class="metadata-seperator">|</span>
				<span class="date-added">2 years ago</span>
				<span class="metadata-separator">|</span>
				<span class="viewcount">21,324,324</span>
			</p>
		</div>
	</div>
{{/each}}
</script>

      <p class="facets">
    <span class="username-prepend">by</span> <a href="/user/myyogaonline">myyogaonline</a>
<span class="metadata-separator">|</span>  <span class="date-added">4 years ago</span>
<span class="metadata-separator">|</span>  <span class="viewcount">2,263,820 views</span>

  </p>
    </div>
  </div>
