Media Intensity Graphs
<br><br>
<% if @mis.is_a?(Array) %>
    <% @mis.each do |mis| %>
        <%= raw(mis.to_svg(@svg_options)) %>
        <br><br>
    <% end %>
<% else %>
    <%= raw(mis.to_svg(@svg_options)) %>
<% end %>