<h1>Help</h1>
<p>
Get help on Ruby on Rails Tutorial at the
<a href=" http: //railstutorial. org/help">Rails Tutorial help page</a>.
To get help on this sample app, see the
<a href=" http: //railstutorial. org/book">Rails Tutorial book</a>.
</p>
