/* Section: Containers */
/*@namespace "library://ns.adobe.com/flex/spark";*/

.controlBarContainer
{
	horizontal-gap: 0;
	padding-top: 0;
	padding-right: 0;
	background-size: "100%";
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="controlbarBackground");
	border-thickness: 1;	
	border-color: #000000;
	border-style: solid;
	border-sides: "bottom";
	percentWidth: 100;
	height: 40;
	top: 100;	
}

.footerContainer
{
	bottom: 0;
	height: 34;
	background-size: "100%";
	background-image: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="footerBackground");	
}

.headerContainer
{
	percentWidth: 100;
	height: 24;
	backgroundSize: "100%";
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="topHeaderBackground");
}

.outerContainer
{
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	vertical-gap: 0;
	alpha: 1;
}

.performControlsContainer
{
	backgroundColor: #a6a6c3;	
}

.screenContainer
{
	percentWidth: 100;
	PercentHeight: 100;
	background-size: "100%";
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="playlistContainerBackground");
}

.stageDisplayContainer
{
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	horizontal-gap: 0;
	horizontalScrollPolicy: off;
	background-size: "100%";
	percentWidth: 100;
	height: 120;
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="headerBackground");
}

.videoContainer
{
	top: 0;
	visible: false;
	backgroundColor: #000000;
	percentWidth: 100;
	height: 240;
}

.video
{
	width: 352;
	height: 264;
	horizontalCenter: 0;
	verticalCenter: 0;	
}


.volumeContainer
{
	paddingBottom: 2;
	paddingTop: 2;
	paddingLeft: 1;
	paddingRight: 1;
	borderThickness:0;
	
	handleColor:#f48320;
	borderColor:#CACACA;
	trackColor:#f48320;	
	
	top: 52;
	width: 24; 
	height: 80; 
	right: 30; 
	rollOutDirection: up;
	backgroundStyleName: "volumeSliderBackground";	
}
					
.volumeMuteOff
{
	imageColor: #ffffff;
}

.volumeMuteOn
{
	imageColor: #DF4729;
}

.volumeSliderBackground
{
	cornerRadius: 3;
	borderThickness: 1;	
	borderStyle: "solid";
	borderColor: "#f48320"; 
	backgroundColor: "#fcfcfc";	
}

.volumeThumb
{
	backgroundColor: #ffffff;
	cornerRadius: 3;
	borderColor:0;
	borderStyle: solid;
}

.volumeTrack
{
	backgroundColor: #000000;
}

.volumeTrackFill
{
	backgroundColor: #00ff00;
}



/* Section: Header Components */


.instructionTextArea
{
	backgroundColor: #b7b7c3; 	
}


/* Section: Stage Components */

.stageDataGridStyle {
	backgroundDisabledColor: #a6a6c3
}


/* Section: Control Bar Components */

.prevButton {
	upSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="prevButton");
	overSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="prevButton");
	downSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="prevButton");
	/*left: 5;
	top: 105;
	width: 27;
	height: 27;*/	
}

/*
	skin: ClassReference("com.playlist.cairngorm.view.skins.PlaylistButtonSkin");
	icon: Embed(source="/com/playlist/assets/images/play-icon.svg");
	
	selected-over-icon: Embed(source="/com/playlist/assets/images/pause-icon.svg");
	selected-down-icon: Embed(source="/com/playlist/assets/images/pause-icon.svg");
	selected-up-icon: Embed(source="/com/playlist/assets/images/pause-icon.svg");
*/

.playButton {
	upSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="playButton");
	overSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="playButton");
	downSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="playButton");
	selectedOverSkin: Embed(source='com/strategicworkoutsystems/assets/buttons.swf', symbol='pauseButton');
	selectedDownSkin: Embed(source='com/strategicworkoutsystems/assets/buttons.swf', symbol='pauseButton');
	selectedUpSkin: Embed(source='com/strategicworkoutsystems/assets/buttons.swf', symbol='pauseButton');
	color: #FFFFFF;	
}

.nextButton {
	upSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="nextButton");
	overSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="nextButton");
	downSkin: Embed(source="/com/strategicworkoutsystems/assets/buttons.swf", symbol="nextButton");	
}

.scrubBar {
	backgroundColor: #81ADDC;
	backgroundDisabledColor: #81ADDC;		
	borderColor: #81ADDC;
	borderThickness: 0;
	borderStyle: solid;
	cornerRadius: 4;
	paddingLeft: 0;
	paddingRight: 0;
}

.scrubBarPosition {	
	backgroundColor: #C38622;
	borderColor: #C38622;
	backgroundAlpha: 1;
	borderStyle: solid;
	borderThickness: 0;
	cornerRadius: 4;	 	
}

.scrubberGlow {
	background-color: #d0952f;
}
.scrubberBackgroundGlow {
	background-color: #5374a1;
}

.volumeBorder
{
	backgroundColor: #2D4966;
}

.volumeTrack
{
	backgroundColor: #5A7999;
}

.volumeHandle
{
	backgroundColor: #5A7999;
}

.volumeMuteOn
{
	imageColor: #DF4729;
 	source: Embed("/com/strategicworkoutsystems/assets/images/speaker.png");
}

.volumeMuteOff
{
	imageColor: #5A7999;
 	source: Embed("/com/strategicworkoutsystems/assets/images/speaker.png");
}

/* Screen Components */

.fullscreenButton
{
	top: 370;
	right: 3;
}

.screenHeading
{
	fontSize: 16;
	color: #ffffff;	
}

.textInput {
	background-color: #ffffff;
	border-color: #222222;
	font-size: 12;
	color: #222222;
}

.screenButton
{
	cornerRadius: 4;
	highlightAlphas: 0, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #537AB1,#3A5B74,#3A5B74,#537AB1;
	color: #ffffff;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	borderColor: #3A5B74;
	themeColor: #3A5B74;
	fontSize: 12;
}

.screenMainActionButton
{

	highlightAlphas: 0, 0;
    fillAlphas: 1, 1, 1, 1;
    fillColors: #FFBF00,#E18B00,#E18B00,#FFBF00;
    color: #ffffff;
    textRollOverColor: #ffffff;
    borderColor: #E18B00;
    themeColor: #E18B00;
    cornerRadius: 4;
    fontSize: 12;
}

.centered {
	text-align: center;	
}


.defaultMessageText {
	font-size: 19;	
	color: #FFFFFF;
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="defaultMessageBackground");
	backgroundSize: "100%";
	padding-bottom: 8;
	padding-left: 8;
	padding-right: 8;
	padding-top: 8;
}

.defaultMessageTextSmall {
	font-size: 14;	
	color: #FFFFFF;
	backgroundImage: Embed(source="/com/strategicworkoutsystems/assets/siteSkin.swf", symbol="defaultMessageBackground");
	backgroundSize: "100%";
	padding-bottom: 3;
	padding-left: 3;
	padding-right: 3;
	padding-top: 3;
}


.controlBarBottomShadow
{
	background-color: #000000;	
}

.myComboBoxDropDowns {
	color: #ffffff;
	dropShadowEnabled: true;
	font-size: 11;
	border-color: #1D3244;
	textSelectedColor: #000000;
}

.mydataGridHeaderStyle {
	color: #c0d4eb;
}

.TitleWindowTitle {
   color: #ffffff;
   font-size: 12;
}


.myButtonStyle { 
  	fontSize:12;  
  	height:40; 
	color: #3139ba;  		  
 }  


.buttonBarButtonStyle {
	highlightAlphas: 0.2, 0.18;
    fillAlphas: 1, 1, 1, 1;
    fillColors: #333333, #303030;
    color: #ffffff;
    textRollOverColor: #ffffff;
    borderColor: #333333;
    themeColor: #76a0cc;
    corner-radius: 0;
    font-size: 10;
}

global
{
	chrome-color: #E11212;
	selection-color: #F46F2D;
	roll-over-color: #F05F10;
	focusColor: #EF4C14;
	fontSize: 11;
	symbolColor: #C05353;
}



