<div>
  <div class="modal-header">
    <h4>Create Account</h4>
  </div>

  <div class="modal-body">
    <% if flash[:notice] %>
        <p class="text-center text-error"><%= flash[:notice] %></p>
    <% end %>
  </div>

  <%= form_tag "/auth/identity/register", :id => 'register_form', :class => 'pjax form-horizontal', :data => {'pjaxp' => {container: '#modal', push: false}.to_json} do %>
      <% if @identity && @identity.errors.any? %>
          <div class="text-center text-error">
            <p>
              <% @identity.errors.full_messages.each do |msg| %>
                  <%= msg %><br>
              <% end %>
            </p>
          </div>
      <% end %>

      <div class="control-group">
        <%= label_tag :name, "Name", :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :name, @identity.try(:name), :class => 'input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :email, "Email", :class => 'control-label' %>
        <div class="controls">
          <%= text_field_tag :email, @identity.try(:email), :class => 'input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password, "Password", :class => 'control-label' %>
        <div class="controls">
          <%= password_field_tag :password, nil, :class => 'input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password_confirmation, "Password Confirm", :class => 'control-label' %>
        <div class="controls">
          <%= password_field_tag :password_confirmation, nil, :class => 'input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= button_tag "Register", :class => 'btn btn-success pjax', :data => {'pjaxp' => {container: '#modal', push: false, url: '/auth/identity/register'}.to_json} %>
          <button class="btn" data-target="#modal" data-dismiss="modal">Close</button>
        </div>
      </div>
  <% end %>
</div>

