<%= content_tag :div, "", id: "stage_#{stage.id}", data: {"stage" => stage.to_json} %>
<div class="stage">
  <span>
    <img src="<%= stage.image_link %>" class="stage-image"></img>
  </span>	
  <%= link_to stage.title, stage_path(stage), 'data-pjax' => '#center-html', :class => 'backbone' %>
  <%= stage.description %>
</div>