<% @stages.each_with_index do |s, i| %>
    <% if i > 0 %>
        <% if i > 1 and i % 2 == 0 %>
            <div class="clearfix visible-sm"></div>
        <% end %>
        <% if i > 2 and i % 3 == 0 %>
            <div class="clearfix visible-md"></div>
        <% end %>
    <% end %>
    <%= render :partial => "/stages/stage_card", :locals => {:stage => s, :index => i} %>
<% end %>