<%= content_tag :div, "", id: "stage_card_#{stage.id}", name: "stage_card_#{stage.id}", class: "perform_card_border col-lg-3 col-md-4 col-sm-6 col-xs-12", data: {"stage" => stage.to_json} do %>
  <a href="#" class="card_link" data-index="<%= index %>">
  <div class="perform_card stage_card">
    <img src="<%= stage.image_link %>" class="img-responsive img-rounded img-workout-teaser"/>
    <div class="row perform_card_description">
      <div class="col-md-9">
        <h5><%= stage.title %></h5>
      </div>
      <div class="col-md-2">
        <p class="text-right">
        <h5><%= duration_formatted(stage) %></h5>
        </p>
      </div>
    </div>
    <%= graph_div(stage, {:class => "card_description", :height => '50', :width => '100%'}) %>
  </div>
  </a>
<% end %>