<div>
  <div class="modal-header">
    <h4>
      <% if @workout %>
          Add this stage to your workout
      <% else %>
          Create a new workout stage
      <% end %>
    </h4>
  </div>

  <div class="modal-body">
    <% if flash[:notice] %>
        <p class="text-center text-error"><%= flash[:notice] %></p>
    <% end %>
    <%= form_for @stage, :url => {:action => 'create'}, :html => {:class => 'pjax form-horizontal', 'data-pjaxp' => {container: '#modal', push: false}.to_json} do |f| %>
        <div class="control-group">
          <%= label_tag :title, "Title", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :title, :class => 'input-large' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :description, "Description", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :rows => "3" %>
          </div>
        </div>
        <%= f.hidden_field :duration_sec %>
        <%= f.hidden_field :image_link %>
        <%= f.hidden_field :youtube_id %>
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success" type="submit">Create</button>
            <button class="btn" data-target="#modal" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    <% end %>
    </div>
</div>