.btn-graph-ctrl {
    height: 34px;
}

.btn-graph-ctrl img {
    width: 24px;
    height: 20px;
}

.input-medium {
    height: 26px !important;
    margin-top: 2px;
}

.input-large {
    height: 26px !important;
    margin-top: 2px;
}

.search-query:focus + button {
    z-index: 3;
}

.modal-header {
    background-color: #fafafa;
    padding-bottom: 5px;
    padding-top: 5px;
}

#nav_top {
    margin-bottom: 5px;
}

#show_message {
    padding-top: 50px;
    padding-left: 20px;
}

.modal-body {
    padding-top: 0px;
    padding-bottom: 10px;
}

.img-workout-teaser {
    width: 100%;
}

#modalplayer_wrapper {
    width: 568px;
    height: 404px;
}

#performance_container {
    padding-right: 0px;
    padding-bottom: 30px;
    height: 95%;
    position: fixed;
}

#performanceplayer_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#inner-container {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#bottom_graph {
    padding: 5px;
}

#performanceplayer {
    position:relative;
    height:85%;
    width:100%;
    top: 10px;
    /*vertical-align: middle;*/
    padding-left: 5px;
}

.visuallyhidden {
    height: 0;
    width: 0;
}

.perform_card_border {
    padding: 5px;
}

.perform_card {
    padding: 10px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.youtube_card {
    background-color: #006600;
}

.stage_card {
    background-color: #d0952f;
}

.workout_card {
    background-color: #99B3E6;
}

.workout_card_inner {
    padding: 10px;
    border-radius: 15px;
    -mox-border-radius: 15px;
}

.card_title {
    padding-left: 1px;
    padding-right: 20px;
    height: 30px;
}

.card_description {
    padding-left: 1px;
    padding-right: 20px;
    padding-bottom: 2px;
    height: 50px;
}

.card_delete_link {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ff0000;
    font-size: 20px;
    text-decoration: none
}

.card_delete_link:hover {
    font-size: 30px;
    text-decoration: none
}

/*.perform_card_graph {*/
    /*height: 50px;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
/*}*/

.row-padded {
    padding-top: 5px;
}

.basegraph {
    fill: #8ff;
}

@media only screen
and (max-width : 767px) {
    .nav-perf-time {
        margin-bottom: 0;
        margin-left: 30px;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
        border-bottom: 0;
        border-top: 0;
    }
    ul.navbar-nav {
        margin-bottom: 0;
    }
}

@media only screen
and (max-width: 991px) {
    #main-container {
    padding-bottom: 65px;
    }
}

@media only screen
and (min-width: 992px) {
    #main-container {
        padding-bottom: 44px;
    }
    #performanceplayer_wrapper {
        position: fixed;
        width: 75%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
