<nav id="nav_top" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-sws-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="brand-logo" class="navbar-brand pjax" style="padding-top:9px; padding-bottom:0px;" href="/"><img src="<%= asset_path 'spinworkouts-logobeta.png' %>"></a>
  </div>
  <div id="nav_dynamic" class="collapse navbar-collapse navbar-sws-collapse">
    <!-- Everything you want hidden at 940px or less, place within here -->
    <!--<div id="nav_msg"></div>-->
  </div>
</nav>
