<ul id="nav_user" class="nav pull-right">
<% if current_user %>
    <li>
      <%= link_to "My Workouts", user_workouts_path({:user_id => current_user.id}), :class => 'pjax' %>
    </li>
    <li>
      <%= link_to "Sign out", "/sessions/destroy", :id => 'signout' %>
    </li>
<% else %>
    <li>
        <%= link_to "Sign in", "/sessions/new", :id => 'signin' %>
    </li>
<% end %>
</ul>