<%= render :partial => "/shared/title" %>
<div id="message" class="row" style="display: none;"></div>
<div class="row">
  <div id="performance_container" class="visuallyhidden col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div id="performanceplayer_wrapper">
      <div id="performanceplayer"></div>
    </div>
  </div>

  <div id="inner-container" class="col-lg-12 col-md-12">
    <%= yield %>
  </div>
  <div class="hidden-sm hidden-xs row">
    <p class="text-center">
      <small>
        Copyright &copy; 2013 by Strategic Workout Systems LLC.&nbsp;&nbsp;All Rights Reserved.
      </small>
    </p>
  </div>
  <br>

  <div id="current_user" data-user="<%= if current_user then
                                          current_user.to_json(:include => [:workouts])
                                        end %>"></div>

</div>
