<html>
<head>
  <title>Spinworkouts</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="<%= SWS::Application::PLAYER_PATH %>jwplayer.js"></script>
  <%= csrf_meta_tags %>
  <script>
      //SWS = {};
      //SWS.Config = {};
      SWS.Config.player_filepath = "<%= asset_path 'WorkoutApp.swf' %>";
      SWS.Config.flashvars = {
          api_baseurl: 'http://0.0.0.0:3000/api',
          baseurl: '/',
          bgcolor: '#ffffff',
          is_enablejs: true,
          is_onsite: true,
          loader_name: '',
          player_baseurl: 'http://0.0.0.0:3000',
          player_name: 'apps/WorkoutApp',
          so_path: 'sws-so1',
          use_loader: false,
          user_id: 0 };
      SWS.Config.log = <%= session[:debug_log].nil? ? 'false' : session[:debug_log].to_s %>;
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render :partial => "/nav/top" %>
<!--<div class="container" id="main-container">-->
    <%= render :partial => "/layouts/main-container" %>

    <%= render :partial => '/modals/modal' %>
    <%= render :partial => "nav/performance" %>
    <%= render :partial => '/shared/ga' %>
<!--</div>-->
</body>
</html>


