<div <%= "class='#{@class}'" unless @class.nil? %>>
<%= yield %>

<div id="bb-data" style="display:none;"
    <% if flash[:send_user] and !current_user.nil? %>
        data-user="<%= current_user.to_json %>"
    <% end %>
    <% @backbone_events.each do |evt| %>
        data-bb-event-<%= evt[:name] %>="<%= evt[:data].to_json %>"
    <% end %>
>
</div>

<script type="text/javascript">
  <% if flash[:send_user] %>
    <% if current_user.nil? %>
        SWS.user.clear();
    <% else %>
        SWS.user.set($('#bb-data').data('user'));
    <% end %>
  <% end %>
  <% # if flash[:page_notice], call a javascript function that sets a message, along with a timer %>
  <% if flash[:page_notice] %>
    SWS.Routers.main.setTimedMessage('<%= flash[:page_notice] %>');
  <% end %>
  <% if @title %>
    $('#content_title').html("<%= escape_javascript(render :partial => "/shared/title") %>");
    $('#content_title').show();
  <% end %>
  <% @backbone_events.each do |evt| %>
    system = SWS.Singletons.System.get();
    system.trigger('<%= evt[:name] %>', $('#bb-data').data('bb-event-<%= evt[:name] %>'));
  <% end %>
  // Not used for now - save for later
  <% @replacements.each do |replacement| %>
    <% Rails.logger.info "replacement = #{replacement}" %>
     <% if replacement.has_key?(:id) and replacement.has_key?(:partial) %>
        $('#<%= replacement[:id] %>').html("<%= escape_javascript(render :partial => replacement[:partial]) %>");
     <% end %>
  <% end %>

</script>
</div>